API_ID=32652502
API_HASH=cd82899bdf83f8f021ba0c8f73095cd1
BOT_TOKEN=8733132296:AAH5NrBZB5sF77rD7CdVKtQJjxWnVdWWnqk
MONGO_DB_URI=mongodb+srv://vipin3031988_db_user:FrARWYpAtiX4025I@cluster0.hn8iahs.mongodb.net/?appName=Cluster0
LOGGER_ID=-1003745635449
OWNER_ID=8614779308
STRING_SESSION=BQGixEoAIzpVJRNeelInJxMw-dOh2QAgTAs6zV-LNZMdDJcEXCc92Qwhxdw-6gRf1PNlfmJl7ZO9u1F8oKmuZA5MzObJM7C9K8URxf3OMClwpnfI1FmHXIkEBcYec3GLEDFoxkgrM-fJw0r_NNBPPIIGhr39QtMz6rGhvY59HTekW800OSiVLNLNJcelWbw97UEIETUVNG8J9NROzYUkjfhNN76oQzNJ-ICXH8fEBDORb_o2k1O3V2BwcWlCFtzKUrDOddpxBwSKlg5SI0FOp9kwhl1akIE1W2t3hetK42pbkONx4uPPXzo1InzoeGaCJcLFSACgZD2GtT48fnkfl9rUACtxCAAAAAHkot6mAA
